<h1>Create a new recipe</h1>

<form action="/recipes" method="post">
Name: <input id="name" type="text" name="name">
Ingridients: <input id="ingredients" type="text" name="ingredients">
Cook Time: <input id="cook_time" type="text" name="cook_time">
<input id="create" type="submit" name="create" value="Create">
</form>
